@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Borel');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom font using @font-face */
@font-face {
  font-family: 'Font_by_suahbi';
  src: url('./fonts/Font_by_suahbi-Regular.ttf') format('truetype');
  /* Add other font formats if required */
}

/* Apply the custom font to the entire document */
:root {
  font-family: 'Font_by_suahbi', Arial, Helvetica, sans-serif;
  font-family: 'Borel', Arial, Helvetica, sans-serif;
  /* You can use fallback fonts in case the custom font is not available */
  /* Other CSS variables and rules can also be defined here */
  color-scheme: light dark;
  background-color: #eaeaea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
